* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-width: 0;
}

:root {
    font-family:'Courier New', Courier, monospace;
    background-color: goldenrod;
    background-color: limegreen;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.game-header-bar {
    width: 100vw;
    height: 5vh;
    z-index: 10;
    background-color: darkgoldenrod;
    background-color: green;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.points-display {
    font-size: 1.1rem;
}

#points {
    color: darkred;
}

.controls {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.btn {
    cursor: pointer;
    color: black;
}

.game-window {
    position: relative;
    flex: 1;
}

.entity {
    width: fit-content;
    height: fit-content;
    position: absolute;
}

.entity img {
    width: auto;
    height: 128px;
}

@media screen and (max-width: 600px) {
    .entity img {
        width: auto;
        height: 64px;
    }
}

#wolf {
    z-index: 1;
    transform: scale(105%, 105%);
    cursor: grab;
}

#deer {
    transform: scale(95%, 95%);
}
